*,
*::after,
*::before {
  box-sizing: content-box;
}

body {
  background-color: black;
  text-align: center;
  margin: 0;
}
h1 {
  margin: 0;
  background-color: grey;
  color: darkblue;
  font-size: 45px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h3 {
  border-bottom: black solid 3px;
}
#players {
  width: 10%;
  min-width: 150px;

  float: left;
  align-items: center;
  border: double black 3px;
  background-color: grey;
  /* disables text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}
#playerList {
  list-style-type: none; /* Remove bullets */
  padding: 5px;
  padding-top: 0;
}
img {
  width: auto;
}

#playerList li {
  border: black solid 3px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}
#addPlyrBtn {
  min-width: inherit;
  background-color: grey;
  border: solid black 1px;
  float: left;
  /* disables text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
}
#addPlyrBtn:hover {
  background-color: honeydew;
}
.card {
  overflow: hidden;
  height: 140px;
  width: 100px;
  background-color: burlywood;
  border: solid black 3px;
  border-radius: 10px;
  margin: 10px;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  /* transform: rotateY(180deg); */
  /* disables text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
}
.card:hover {
  background-color: coral;
  color: rgb(17, 105, 105);
  border-color: rgb(15, 156, 62);
  cursor: pointer;
  opacity: 0.8;
  transition: transform 0.2s;
  transform: scale(1.02);
}
.board {
  max-width: 90%;
  height: auto;
  background-color: grey;
  /* columns: 110px 8; */
  /* disables text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
}
.cardFace::before,
.cardFace::after {
  position: relative;
  content: attr(data-value);
  font-size: 2rem;
}

.cardFace::before {
  bottom: 3rem;
  right: 1.6rem;
}

.cardFace::after {
  top: 3rem;
  left: 1.5rem;
  transform: rotate(180deg);
}
.init {
  padding: 20px;
  font-size: larger;
  align-items: center;
  float: left;
  background-color: lightslategray;
  /* disables text selection */
  user-select: none;
}
.init:hover{
  cursor: pointer;
}
